@charset "UTF-8";
/* CSS Document */

body {
	font-family: arial;
}

#ce-main {
	background: url("cexploretrees.jpg");
	height: 100vh;
	background-size: cover;
	background-position: top center;
}

.cebox {
	color: #fff;
	background-color: var(--maincolor);
	height: 100vh;
}

#cecontent {
	margin-top: -100vh;
	color: #ffffff;
}

#cerow1 {
	height: 70vh;
}

#cerow2 {
	height: 30vh;
	position: relative;
}

.cetitle {
	font-family: essonnes;
	font-size: 12.8vw;
	line-height: 13vw;
	transition: transform 2s ease-in-out;
	animation: fadeIn 4s;
	-webkit-animation: fadeIn 4s;
	-moz-animation: fadeIn 4s;
	-o-animation: fadeIn 4s;
	-ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.learnmore {
	padding-left: 3vw;
	font-size: 1.4vw;
	font-weight: 400;

}

.MoreDetails {
	width: 2.1vw;
}

.spin {
	transition: transform .7s ease-in-out;
}

.spin:hover {
	transform: rotate(360deg)
}

.social {
	padding: 10px;
}

.zoom {
	transition: transform .2s;
	/* Animation */
	width: fit-content;
}

.zoom:hover {
	transform: scale(1.2) !important;
	width: fit-content;
	cursor: pointer;
}

#ceModal {
	color: var(--maincolor);
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
	left: 10vw;
	width: 35vw;
}

.modal-title {
	font-family: essonnes;
	font-size: 4vw;
	padding: 3vw 0vw 0vw 3vw;
}

hr {
	height: 2px;
	background-color: var(--maincolor);
	border: none;
	width: 15vw;
	background: linear-gradient(to right, var(--maincolor), white);
	padding-left: 3vw;
	margin-top: -1vh;
	margin-left: 4vw;
}

.modal-content {
	box-shadow: 0 4px 25px #141619;
	border-radius: 1px !important;
	background: #fff;
	pointer-events: none;
	animation: fadeIn 3s;
	-webkit-animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
	-o-animation: fadeIn 3s;
	-ms-animation: fadeIn 3s;
}

.modal-body {
	font-size: .8vw;
	padding: 0 4vw 0 4vw;
	line-height: 1.8vw;
	color: #000;
	font-weight: 400;
}

.modal-header .btn-close {
	margin: -20% 0 0 0 !important;
	color: var(--maincolor);
}

.modal-footer {
	margin: 1.3vw 0 3vw 3vw;
}

.btn-close {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='darkred'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	opacity: 1;
	pointer-events: visible;
}

.cebutton {
	background: linear-gradient(to right, #611818, #A36754);
	padding: .7vw 3vw;
	color: #fff;
	margin: auto auto auto 0px;
	font-size: 1vw;
	font-weight: 400;
	pointer-events: none;
}

:root {
	--maincolor: #611818;
}

@media only screen and (max-width: 992px) {
	.cebox {
		height: 30vh;
	}

	#cerow1 {
		height: 30vh;
		padding-left:6.3vw;
	}

	#cerow2 {
		height: 70vh;
	}

	.cetitle {
		font-size: 23.2vw;
		line-height: 19.5vw;
	}

	.learnmore {
		font-size: 3vw;
		margin-bottom: -5vw;
	}

	.MoreDetails {
		width: 4.5vw;
	}

	.modal-dialog {
		width: 75vw;
	}

	.modal-title {
		font-size: 7vw;
		padding: 4vw 0vw 0vw 4vw;
	}

	hr {
		height: 1px;
		width: 40vw;
		margin-left: 7vw;
	}

	.modal-body {
		font-size: 1.3vh;
		line-height: 2.8vh;
		padding: 0vw 7vw;
	}

	.cebutton {
		padding: .7vw 3vw;
		margin-left: 2vw;
		font-size: 2vw;
		cursor: pointer !important;
	}

	.modal-header .btn-close {
		margin: -15% 0 0 0 !important;
	}

}

@media only screen and (min-width: 576px) {
	.modal-dialog {
		max-width: unset !important;

	}
}
